#include<windows.h>
#include "PCMB_Project.h"

MYBITMAP_0 BITMAP resources/new.bmp

MYICON ICON resources/myicon.ico
MYICON2 ICON resources/myicon_round.ico



PCMBPROJECT DIALOG DISCARDABLE 0,0,420,365
STYLE DS_MODALFRAME | DS_CENTER | WS_CAPTION
CAPTION "SSK--Physics,Mathematics,Chemistry,Biology Project"

BEGIN
	//PHYSICS
	AUTORADIOBUTTON "PHYSICS", ID_RB_PHYSICS,15,10,60,10,WS_TABSTOP | WS_GROUP
	
	GROUPBOX "PHYSICS",ID_GB_PHYSICS,10,25,180,135

	LTEXT "Refractive Index (n1):",-1,25,40,96,20
	EDITTEXT ID_ET_RI1, 125,40,50,10,WS_TABSTOP
	LTEXT "Refractive Index (n2) :",-1,25,60,96,20
	EDITTEXT ID_ET_RI2, 125,60,50,10,WS_TABSTOP
	LTEXT "Angle of Incidence (theta1) :", -1, 25, 80, 96, 20
	EDITTEXT ID_ET_AI, 125, 80, 50, 10, WS_TABSTOP
	LTEXT "Angle of Refraction (theta2) :", -1, 25, 100, 96, 20
	EDITTEXT ID_ET_AR, 125, 100, 50, 10, WS_TABSTOP

	PUSHBUTTON "Submit",ID_PB_PHYSICS_SUBMIT,80,120,40,13,WS_TABSTOP
	
	LTEXT "ANSWER:",-1,55,140,100,12
	EDITTEXT ID_ET_ANS1,90,140,50,8,WS_TABSTOP | WS_VISIBLE
	
	
	
	
	//MATHEMATICS	
	AUTORADIOBUTTON "MATHEMATICS", ID_RB_MATHS,215,10,65,10

	GROUPBOX "MATHS",ID_GB_MATHS,210,25,180,135

	LTEXT "First Number :",-1,225,50,96,10
	EDITTEXT ID_ET_FN2, 325,50,50,10,WS_TABSTOP
	LTEXT "Second Number :",-1,225,80,96,20
	EDITTEXT ID_ET_SN2, 325,80,50,10,WS_TABSTOP
	
	PUSHBUTTON "Submit",ID_PB_MATHS_SUBMIT,280,110,40,13,WS_TABSTOP	
	
	LTEXT "GCD IS:",-1,255,140,96,15
	EDITTEXT ID_ET_ANS2,290,140,50,10,WS_TABSTOP
	
	
	
	
	//CHEMISTRY
	
	AUTORADIOBUTTON "MATHS IN .NET", ID_RB_CHEMISTRY, 125, 165, 65, 10

	GROUPBOX "MATHS", ID_GB_CHEMISTRY, 120, 180, 180, 120

	LTEXT "First Number		:", -1, 135, 200, 96, 10
	EDITTEXT ID_ET_FN3, 225, 200, 60, 10, WS_TABSTOP
	LTEXT "Second Number    :", -1, 135, 220, 96, 20
	EDITTEXT ID_ET_SN3, 225, 220, 60, 10, WS_TABSTOP
	LTEXT "Answer	    :", -1, 135, 240, 96, 15
	EDITTEXT ID_ET_ANS3, 225, 240, 60, 10, WS_TABSTOP

	PUSHBUTTON "Submit", ID_PB_CHEMISTRY_SUBMIT, 175, 260, 40, 13, WS_TABSTOP
	
	
	
	
	PUSHBUTTON "MODIFY", ID_PB_MODIFY, 300, 320, 30, 10, WS_TABSTOP
	PUSHBUTTON "BACK",ID_PB_BACK,360,320,30,10,WS_TABSTOP
	
END


